nav.top-bar {
  margin-bottom: 1%; }

li {
  border: 1px solid black; }
  li a {
    display: block; }

div.data-refresh {
  text-align: center;
  font-size: 1em; }

div.closetext p {
  margin: 0;
  padding: 0; }

div.userdata img {
  display: block;
  padding-right: 1%; }

/*# sourceMappingURL=main.css.map */
